@tailwind base;
@tailwind components;
@tailwind utilities;

body{
   background-image: url("https://images.unsplash.com/photo-1721633617994-06d5493feda7?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw1NXx8fGVufDB8fHx8fA%3D%3D") ;
   background-repeat: no-repeat;
   background-size: cover;
}